In [1]:
!pip install xlrd
!pip install openpyxl
import pandas as pd 
import numpy as np

Requirement already satisfied: xlrd in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.1)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\User\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\User\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
xls = pd.ExcelFile('Students_Data.xlsx')
high_school_df = pd.read_excel(xls, 'students')
df = pd.read_excel(xls, 'Semesters')
study_plan = pd.read_excel(xls, 'Plan MajorSheet')

In [4]:
high_school_df = high_school_df.drop(columns=['-\''])

In [5]:
high_school_df

,STD_NO,MAJOR_EDESC,GENDER_EDESC,TAWJIH_COUNTRY,TAWJIH_GPA,TAWJIH_BRANCH
0,313134,Data Science & Artificial Intelligence,Male,Jordan,86,GCE Sci
1,328490,Data Science & Artificial Intelligence,Male,Jordan,87,Scientific
2,328644,Data Science & Artificial Intelligence,Male,Jordan,84,Scientific
3,329359,Data Science & Artificial Intelligence,Male,Jordan,76,GCE Sci
4,329524,Data Science & Artificial Intelligence,Female,Palestine,67,Scientific
...,...,...,...,...,...,...
453,394798,Data Science & Artificial Intelligence,Female,Spain,94,Scientific
454,392213,Data Science & Artificial Intelligence,Male,Jordan,88,Scientific / Medical
455,394424,Data Science & Artificial Intelligence,Male,Jordan,92,Scientific / Medical
456,394589,Data Science & Artificial Intelligence,Female,K.S.A,96,Scientific
457,394677,Data Science & Artificial Intelligence,Male,U.A.E,98,Scientific

In [6]:
# Check how many nulls
num_nulls = high_school_df.isnull().sum()

print(f"{num_nulls.sum()} null values in high_school_df ")

0 null values in high_school_df

In [7]:
# Check how many nulls
num_nulls = df.isnull().sum()

print(f"{num_nulls.sum()} null values df ")

878 null values df

In [8]:
# Check how many nulls 
num_nulls = study_plan.isnull().sum()

print(f"{num_nulls.sum()} null values in study_plan ")

140 null values in study_plan

In [9]:
# Check for null values in study_plan
null_values_study_plan = study_plan.isnull().sum()

print("Null values in study_plan:")
print(null_values_study_plan)

Null values in study_plan:
PLAN_ID           0
PLAN_DESCA        0
PLAN_DESCE        0
PLAN_HOURS        0
COURSE_ID         0
COURSE_DESCA      0
COURSE_DESCE      0
COURSE_TYP        0
COURSE_TYPEA      0
COURSE_TYPEE      3
LEVEL_ID          0
LEVEL_DESCA       0
LEVEL_DESCE       0
REQ_TYP           0
REQ_TYPEA         0
REQ_TYPEE         0
MARK_TYP          0
MARK_TYPEA        0
MARK_TYPEE        0
WEB_FLAG         52
MAJOR_ID          0
MAJOR_ADESC       0
MAJOR_EDESC       0
LOAD_HOURS        0
REQ_HOURS         0
PRE_COURSE_ID    33
RULE_ID          26
RULE_ADESC       26
dtype: int64

In [10]:
# Fill null values in the "COURSE_TYPEE" column with "remedial"
study_plan["COURSE_TYPEE"].fillna("remedial", inplace=True)

print("Null values filled in the 'COURSE_TYPEE' column. Updated study_plan:")
print(study_plan)

Null values filled in the 'COURSE_TYPEE' column. Updated study_plan:
    PLAN_ID                      PLAN_DESCA  \
0       163  علم البيانات والذكاء الاصطناعي
1       163  علم البيانات والذكاء الاصطناعي
2       163  علم البيانات والذكاء الاصطناعي
3       163  علم البيانات والذكاء الاصطناعي
4       163  علم البيانات والذكاء الاصطناعي
..      ...                             ...
74      163  علم البيانات والذكاء الاصطناعي
75      163  علم البيانات والذكاء الاصطناعي
76      163  علم البيانات والذكاء الاصطناعي
77      163  علم البيانات والذكاء الاصطناعي
78      163  علم البيانات والذكاء الاصطناعي

                                PLAN_DESCE  PLAN_HOURS  COURSE_ID  \
0   Data Science & Artificial Intelligence         132      11253
1   Data Science & Artificial Intelligence         132      11212
2   Data Science & Artificial Intelligence         132      11313
3   Data Science & Artificial Intelligence         132      11354
4   Data Science & Artificial Intelligence         132      11355
..                                     ...         ...        ...
74  Data Science & Artificial Intelligence         132      14141
75  Data Science & Artificial Intelligence         132      14331
76  Data Science & Artificial Intelligence         132      14271
77  Data Science & Artificial Intelligence         132      11323
78  Data Science & Artificial Intelligence         132      20134

                               COURSE_DESCA  \
0                  مختبر البرمجة بالكينونية
1         تركيب البيانات ومقدمة للخوارزميات
2                تحليل الخوارزميات وتصميمها
3                  مختبر نظم قواعد البيانات
4                         مختبر نظم التشغيل
..                                      ...
74              مختبر مقدمه في علم البيانات
75                   مختبر الذكاء الاصطناعي
76  مختبر الاحصاء والاحتمالات لعلم البيانات
77                       نظم قواعد البيانات
78                      رياضيات منفصلة  (1)

                                        COURSE_DESCE  COURSE_TYP COURSE_TYPEA  \
0                    Object Oriented Programming Lab           2        مختبر
1     Data Structures and Introduction to Algorithms           1       محاضرة
2                    Algorithms  Design and Analysis           1       محاضرة
3                               Database Systems Lab           2        مختبر
4                              Operating Systems Lab           2        مختبر
..                                               ...         ...          ...
74                  Introduction to Data Science lab           2        مختبر
75                       Artificial Intelligence lab           2        مختبر
76  Statistics and  Probability for Data Science lab           2        مختبر
77                                  Database Systems           1       محاضرة
78                          Discrete Mathematics (1)           1       محاضرة

   COURSE_TYPEE  ...         MARK_TYPEE WEB_FLAG MAJOR_ID  \
0           Lab  ...  Distributed 60/40      NaN       28
1       lecture  ...  Distributed 60/40      NaN       28
2       lecture  ...  Distributed 60/40      NaN       28
3           Lab  ...  Distributed 60/40      NaN       28
4           Lab  ...  Distributed 60/40      NaN       28
..          ...  ...                ...      ...      ...
74          Lab  ...  Distributed 60/40      1.0       28
75          Lab  ...  Distributed 60/40      1.0       28
76          Lab  ...  Distributed 60/40      1.0       28
77      lecture  ...  Distributed 60/40      NaN       28
78      lecture  ...  Distributed 60/40      NaN       28

                       MAJOR_ADESC                             MAJOR_EDESC  \
0   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
1   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
2   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
3   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
4   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
..                             ...                                     ...
74  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
75  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
76  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
77  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
78  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence

   LOAD_HOURS  REQ_HOURS PRE_COURSE_ID RULE_ID  RULE_ADESC
0           1         68       11206.0     2.0      متزامن
1           3         68       11206.0     1.0        سابق
2           3         68       11212.0     1.0        سابق
3           1         68       11323.0     2.0      متزامن
4           1         68       11335.0     2.0      متزامن
..        ...        ...           ...     ...         ...
74          1         68       14140.0     2.0      متزامن
75          1         68       14330.0     2.0      متزامن
76          1         68       14270.0     2.0      متزامن
77          3         68       11212.0     1.0        سابق
78          3         25           NaN     NaN         NaN

[79 rows x 28 columns]

In [11]:
# Check for null values in study_plan
null_values_study_plan = study_plan.isnull().sum()

# Filter columns with null values
columns_with_nulls = null_values_study_plan[null_values_study_plan > 0]

# Print column names and their respective counts
print("Columns with null values in study_plan:")
for column, count in columns_with_nulls.items():
    print(f"{column}: {count} null values")

Columns with null values in study_plan:
WEB_FLAG: 52 null values
PRE_COURSE_ID: 33 null values
RULE_ID: 26 null values
RULE_ADESC: 26 null values

In [12]:
# Columns with null values to be filled with 0
columns_to_fill_with_zero = ["WEB_FLAG", "PRE_COURSE_ID", "RULE_ID", "RULE_ADESC"]

# Fill null values with 0 in the specified columns
study_plan[columns_to_fill_with_zero] = study_plan[columns_to_fill_with_zero].fillna(0)

# Verify the changes
print("Null values filled with 0 in specified columns. Updated study_plan:")
print(study_plan)

Null values filled with 0 in specified columns. Updated study_plan:
    PLAN_ID                      PLAN_DESCA  \
0       163  علم البيانات والذكاء الاصطناعي
1       163  علم البيانات والذكاء الاصطناعي
2       163  علم البيانات والذكاء الاصطناعي
3       163  علم البيانات والذكاء الاصطناعي
4       163  علم البيانات والذكاء الاصطناعي
..      ...                             ...
74      163  علم البيانات والذكاء الاصطناعي
75      163  علم البيانات والذكاء الاصطناعي
76      163  علم البيانات والذكاء الاصطناعي
77      163  علم البيانات والذكاء الاصطناعي
78      163  علم البيانات والذكاء الاصطناعي

                                PLAN_DESCE  PLAN_HOURS  COURSE_ID  \
0   Data Science & Artificial Intelligence         132      11253
1   Data Science & Artificial Intelligence         132      11212
2   Data Science & Artificial Intelligence         132      11313
3   Data Science & Artificial Intelligence         132      11354
4   Data Science & Artificial Intelligence         132      11355
..                                     ...         ...        ...
74  Data Science & Artificial Intelligence         132      14141
75  Data Science & Artificial Intelligence         132      14331
76  Data Science & Artificial Intelligence         132      14271
77  Data Science & Artificial Intelligence         132      11323
78  Data Science & Artificial Intelligence         132      20134

                               COURSE_DESCA  \
0                  مختبر البرمجة بالكينونية
1         تركيب البيانات ومقدمة للخوارزميات
2                تحليل الخوارزميات وتصميمها
3                  مختبر نظم قواعد البيانات
4                         مختبر نظم التشغيل
..                                      ...
74              مختبر مقدمه في علم البيانات
75                   مختبر الذكاء الاصطناعي
76  مختبر الاحصاء والاحتمالات لعلم البيانات
77                       نظم قواعد البيانات
78                      رياضيات منفصلة  (1)

                                        COURSE_DESCE  COURSE_TYP COURSE_TYPEA  \
0                    Object Oriented Programming Lab           2        مختبر
1     Data Structures and Introduction to Algorithms           1       محاضرة
2                    Algorithms  Design and Analysis           1       محاضرة
3                               Database Systems Lab           2        مختبر
4                              Operating Systems Lab           2        مختبر
..                                               ...         ...          ...
74                  Introduction to Data Science lab           2        مختبر
75                       Artificial Intelligence lab           2        مختبر
76  Statistics and  Probability for Data Science lab           2        مختبر
77                                  Database Systems           1       محاضرة
78                          Discrete Mathematics (1)           1       محاضرة

   COURSE_TYPEE  ...         MARK_TYPEE WEB_FLAG MAJOR_ID  \
0           Lab  ...  Distributed 60/40      0.0       28
1       lecture  ...  Distributed 60/40      0.0       28
2       lecture  ...  Distributed 60/40      0.0       28
3           Lab  ...  Distributed 60/40      0.0       28
4           Lab  ...  Distributed 60/40      0.0       28
..          ...  ...                ...      ...      ...
74          Lab  ...  Distributed 60/40      1.0       28
75          Lab  ...  Distributed 60/40      1.0       28
76          Lab  ...  Distributed 60/40      1.0       28
77      lecture  ...  Distributed 60/40      0.0       28
78      lecture  ...  Distributed 60/40      0.0       28

                       MAJOR_ADESC                             MAJOR_EDESC  \
0   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
1   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
2   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
3   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
4   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
..                             ...                                     ...
74  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
75  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
76  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
77  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
78  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence

   LOAD_HOURS  REQ_HOURS PRE_COURSE_ID RULE_ID  RULE_ADESC
0           1         68       11206.0     2.0      متزامن
1           3         68       11206.0     1.0        سابق
2           3         68       11212.0     1.0        سابق
3           1         68       11323.0     2.0      متزامن
4           1         68       11335.0     2.0      متزامن
..        ...        ...           ...     ...         ...
74          1         68       14140.0     2.0      متزامن
75          1         68       14330.0     2.0      متزامن
76          1         68       14270.0     2.0      متزامن
77          3         68       11212.0     1.0        سابق
78          3         25           0.0     0.0           0

[79 rows x 28 columns]

In [13]:
# Check how many nulls
num_nulls = study_plan.isnull().sum()

print(f"{num_nulls.sum()} null values in study_plan ")

0 null values in study_plan

In [14]:
# Check for duplicates in the "COURSE_ID" column
duplicates_course_id = study_plan[study_plan.duplicated("COURSE_ID", keep=False)]

# Print the "COURSE_ID" and "COURSE_DESCE" for the duplicates
print("Duplicates in the 'COURSE_ID' column:")
print(duplicates_course_id[["COURSE_ID", "COURSE_DESCE"]])

Duplicates in the 'COURSE_ID' column:
    COURSE_ID                                COURSE_DESCE
17      20234                              Linear Algebra
18      20234                              Linear Algebra
30      20200  Technical Writing and Communication Skills
31      20200  Technical Writing and Communication Skills
46      14391                          Practical Training
47      14391                          Practical Training
48      14391                          Practical Training

In [15]:
# Drop duplicates in the "COURSE_ID" column, keeping the first occurrence
study_plan.drop_duplicates("COURSE_ID", keep="first", inplace=True)

# Print the updated DataFrame without duplicates
print("Updated study_plan without duplicates:")
print(study_plan)

Updated study_plan without duplicates:
    PLAN_ID                      PLAN_DESCA  \
0       163  علم البيانات والذكاء الاصطناعي
1       163  علم البيانات والذكاء الاصطناعي
2       163  علم البيانات والذكاء الاصطناعي
3       163  علم البيانات والذكاء الاصطناعي
4       163  علم البيانات والذكاء الاصطناعي
..      ...                             ...
74      163  علم البيانات والذكاء الاصطناعي
75      163  علم البيانات والذكاء الاصطناعي
76      163  علم البيانات والذكاء الاصطناعي
77      163  علم البيانات والذكاء الاصطناعي
78      163  علم البيانات والذكاء الاصطناعي

                                PLAN_DESCE  PLAN_HOURS  COURSE_ID  \
0   Data Science & Artificial Intelligence         132      11253
1   Data Science & Artificial Intelligence         132      11212
2   Data Science & Artificial Intelligence         132      11313
3   Data Science & Artificial Intelligence         132      11354
4   Data Science & Artificial Intelligence         132      11355
..                                     ...         ...        ...
74  Data Science & Artificial Intelligence         132      14141
75  Data Science & Artificial Intelligence         132      14331
76  Data Science & Artificial Intelligence         132      14271
77  Data Science & Artificial Intelligence         132      11323
78  Data Science & Artificial Intelligence         132      20134

                               COURSE_DESCA  \
0                  مختبر البرمجة بالكينونية
1         تركيب البيانات ومقدمة للخوارزميات
2                تحليل الخوارزميات وتصميمها
3                  مختبر نظم قواعد البيانات
4                         مختبر نظم التشغيل
..                                      ...
74              مختبر مقدمه في علم البيانات
75                   مختبر الذكاء الاصطناعي
76  مختبر الاحصاء والاحتمالات لعلم البيانات
77                       نظم قواعد البيانات
78                      رياضيات منفصلة  (1)

                                        COURSE_DESCE  COURSE_TYP COURSE_TYPEA  \
0                    Object Oriented Programming Lab           2        مختبر
1     Data Structures and Introduction to Algorithms           1       محاضرة
2                    Algorithms  Design and Analysis           1       محاضرة
3                               Database Systems Lab           2        مختبر
4                              Operating Systems Lab           2        مختبر
..                                               ...         ...          ...
74                  Introduction to Data Science lab           2        مختبر
75                       Artificial Intelligence lab           2        مختبر
76  Statistics and  Probability for Data Science lab           2        مختبر
77                                  Database Systems           1       محاضرة
78                          Discrete Mathematics (1)           1       محاضرة

   COURSE_TYPEE  ...         MARK_TYPEE WEB_FLAG MAJOR_ID  \
0           Lab  ...  Distributed 60/40      0.0       28
1       lecture  ...  Distributed 60/40      0.0       28
2       lecture  ...  Distributed 60/40      0.0       28
3           Lab  ...  Distributed 60/40      0.0       28
4           Lab  ...  Distributed 60/40      0.0       28
..          ...  ...                ...      ...      ...
74          Lab  ...  Distributed 60/40      1.0       28
75          Lab  ...  Distributed 60/40      1.0       28
76          Lab  ...  Distributed 60/40      1.0       28
77      lecture  ...  Distributed 60/40      0.0       28
78      lecture  ...  Distributed 60/40      0.0       28

                       MAJOR_ADESC                             MAJOR_EDESC  \
0   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
1   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
2   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
3   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
4   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
..                             ...                                     ...
74  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
75  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
76  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
77  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
78  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence

   LOAD_HOURS  REQ_HOURS PRE_COURSE_ID RULE_ID  RULE_ADESC
0           1         68       11206.0     2.0      متزامن
1           3         68       11206.0     1.0        سابق
2           3         68       11212.0     1.0        سابق
3           1         68       11323.0     2.0      متزامن
4           1         68       11335.0     2.0      متزامن
..        ...        ...           ...     ...         ...
74          1         68       14140.0     2.0      متزامن
75          1         68       14330.0     2.0      متزامن
76          1         68       14270.0     2.0      متزامن
77          3         68       11212.0     1.0        سابق
78          3         25           0.0     0.0           0

[75 rows x 28 columns]

In [16]:
# DROP GP1 GP2 and Training 
ids_to_drop = [14391, 14492, 14493]

# Drop rows with specified IDs
study_plan = study_plan[~study_plan['COURSE_ID'].isin(ids_to_drop)]

# Print the updated DataFrame without the specified IDs
print("Updated study_plan after dropping rows with specified IDs:")
print(study_plan)

Updated study_plan after dropping rows with specified IDs:
    PLAN_ID                      PLAN_DESCA  \
0       163  علم البيانات والذكاء الاصطناعي
1       163  علم البيانات والذكاء الاصطناعي
2       163  علم البيانات والذكاء الاصطناعي
3       163  علم البيانات والذكاء الاصطناعي
4       163  علم البيانات والذكاء الاصطناعي
..      ...                             ...
74      163  علم البيانات والذكاء الاصطناعي
75      163  علم البيانات والذكاء الاصطناعي
76      163  علم البيانات والذكاء الاصطناعي
77      163  علم البيانات والذكاء الاصطناعي
78      163  علم البيانات والذكاء الاصطناعي

                                PLAN_DESCE  PLAN_HOURS  COURSE_ID  \
0   Data Science & Artificial Intelligence         132      11253
1   Data Science & Artificial Intelligence         132      11212
2   Data Science & Artificial Intelligence         132      11313
3   Data Science & Artificial Intelligence         132      11354
4   Data Science & Artificial Intelligence         132      11355
..                                     ...         ...        ...
74  Data Science & Artificial Intelligence         132      14141
75  Data Science & Artificial Intelligence         132      14331
76  Data Science & Artificial Intelligence         132      14271
77  Data Science & Artificial Intelligence         132      11323
78  Data Science & Artificial Intelligence         132      20134

                               COURSE_DESCA  \
0                  مختبر البرمجة بالكينونية
1         تركيب البيانات ومقدمة للخوارزميات
2                تحليل الخوارزميات وتصميمها
3                  مختبر نظم قواعد البيانات
4                         مختبر نظم التشغيل
..                                      ...
74              مختبر مقدمه في علم البيانات
75                   مختبر الذكاء الاصطناعي
76  مختبر الاحصاء والاحتمالات لعلم البيانات
77                       نظم قواعد البيانات
78                      رياضيات منفصلة  (1)

                                        COURSE_DESCE  COURSE_TYP COURSE_TYPEA  \
0                    Object Oriented Programming Lab           2        مختبر
1     Data Structures and Introduction to Algorithms           1       محاضرة
2                    Algorithms  Design and Analysis           1       محاضرة
3                               Database Systems Lab           2        مختبر
4                              Operating Systems Lab           2        مختبر
..                                               ...         ...          ...
74                  Introduction to Data Science lab           2        مختبر
75                       Artificial Intelligence lab           2        مختبر
76  Statistics and  Probability for Data Science lab           2        مختبر
77                                  Database Systems           1       محاضرة
78                          Discrete Mathematics (1)           1       محاضرة

   COURSE_TYPEE  ...         MARK_TYPEE WEB_FLAG MAJOR_ID  \
0           Lab  ...  Distributed 60/40      0.0       28
1       lecture  ...  Distributed 60/40      0.0       28
2       lecture  ...  Distributed 60/40      0.0       28
3           Lab  ...  Distributed 60/40      0.0       28
4           Lab  ...  Distributed 60/40      0.0       28
..          ...  ...                ...      ...      ...
74          Lab  ...  Distributed 60/40      1.0       28
75          Lab  ...  Distributed 60/40      1.0       28
76          Lab  ...  Distributed 60/40      1.0       28
77      lecture  ...  Distributed 60/40      0.0       28
78      lecture  ...  Distributed 60/40      0.0       28

                       MAJOR_ADESC                             MAJOR_EDESC  \
0   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
1   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
2   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
3   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
4   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
..                             ...                                     ...
74  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
75  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
76  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
77  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
78  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence

   LOAD_HOURS  REQ_HOURS PRE_COURSE_ID RULE_ID  RULE_ADESC
0           1         68       11206.0     2.0      متزامن
1           3         68       11206.0     1.0        سابق
2           3         68       11212.0     1.0        سابق
3           1         68       11323.0     2.0      متزامن
4           1         68       11335.0     2.0      متزامن
..        ...        ...           ...     ...         ...
74          1         68       14140.0     2.0      متزامن
75          1         68       14330.0     2.0      متزامن
76          1         68       14270.0     2.0      متزامن
77          3         68       11212.0     1.0        سابق
78          3         25           0.0     0.0           0

[72 rows x 28 columns]

In [17]:
# DROP GP1 GP2 and Training from main dataset
ids_to_drop = [14391, 14492, 14493]

# Drop rows with specified "COURSE_ID"
df = df[~df['COURSE_ID'].isin(ids_to_drop)]

# Print the updated DataFrame without the specified "COURSE_ID" values
print("Updated df after dropping rows with specified COURSE_ID values:")
print(df)

Updated df after dropping rows with specified COURSE_ID values:
      YEAR_ID  SEM_ID  STD_NO                             MAJOR_EDESC  \
0        2022       1  313134  Data Science & Artificial Intelligence
1        2022       1  313134  Data Science & Artificial Intelligence
2        2022       1  313134  Data Science & Artificial Intelligence
3        2022       1  313134  Data Science & Artificial Intelligence
4        2022       1  313134  Data Science & Artificial Intelligence
...       ...     ...     ...                                     ...
9594     2022       1  372468  Data Science & Artificial Intelligence
9595     2022       1  372468  Data Science & Artificial Intelligence
9596     2022       1  372468  Data Science & Artificial Intelligence
9597     2022       1  372468  Data Science & Artificial Intelligence
9598     2022       1  372468  Data Science & Artificial Intelligence

      COURSE_ID                                     COURSE_EDESC   AVG
0         11206                      Object Oriented Programming  35.0
1         11102                 Introduction to Computer Science  35.0
2         20233                              Statistical Methods  35.0
3         31352                    Jerusalem : History and Facts  43.0
4         11253                  Object Oriented Programming Lab  50.0
...         ...                                              ...   ...
9594      11102                 Introduction to Computer Science  56.0
9595      31151                               National Education  65.0
9596      20132                                     Calculus (1)  38.0
9597      31021  Arabic Language Communication Skills (Remedial)  75.0
9598      31160           Leadership and Societal Responsibility   NaN

[9499 rows x 7 columns]

In [18]:
# List of COURSE_IDs to drop (DROP ALL PASS/FAIL subjects)
course_ids_to_drop = [31022, 31021, 11100, 31374, 31251,31262]

# Drop rows with specified 'COURSE_ID' values from study_plan
study_plan = study_plan[~study_plan['COURSE_ID'].isin(course_ids_to_drop)]

# Drop rows with specified 'COURSE_ID' values from df
df = df[~df['COURSE_ID'].isin(course_ids_to_drop)]

# Print the updated study_plan
print("Updated study_plan after dropping specified 'COURSE_ID' values:")
print(study_plan.head())

# Print the updated df
print("\nUpdated df after dropping specified 'COURSE_ID' values:")
print(df.head())

Updated study_plan after dropping specified 'COURSE_ID' values:
   PLAN_ID                      PLAN_DESCA  \
0      163  علم البيانات والذكاء الاصطناعي
1      163  علم البيانات والذكاء الاصطناعي
2      163  علم البيانات والذكاء الاصطناعي
3      163  علم البيانات والذكاء الاصطناعي
4      163  علم البيانات والذكاء الاصطناعي

                               PLAN_DESCE  PLAN_HOURS  COURSE_ID  \
0  Data Science & Artificial Intelligence         132      11253
1  Data Science & Artificial Intelligence         132      11212
2  Data Science & Artificial Intelligence         132      11313
3  Data Science & Artificial Intelligence         132      11354
4  Data Science & Artificial Intelligence         132      11355

                        COURSE_DESCA  \
0           مختبر البرمجة بالكينونية
1  تركيب البيانات ومقدمة للخوارزميات
2         تحليل الخوارزميات وتصميمها
3           مختبر نظم قواعد البيانات
4                  مختبر نظم التشغيل

                                     COURSE_DESCE  COURSE_TYP COURSE_TYPEA  \
0                 Object Oriented Programming Lab           2        مختبر
1  Data Structures and Introduction to Algorithms           1       محاضرة
2                 Algorithms  Design and Analysis           1       محاضرة
3                            Database Systems Lab           2        مختبر
4                           Operating Systems Lab           2        مختبر

  COURSE_TYPEE  ...         MARK_TYPEE WEB_FLAG MAJOR_ID  \
0          Lab  ...  Distributed 60/40      0.0       28
1      lecture  ...  Distributed 60/40      0.0       28
2      lecture  ...  Distributed 60/40      0.0       28
3          Lab  ...  Distributed 60/40      0.0       28
4          Lab  ...  Distributed 60/40      0.0       28

                      MAJOR_ADESC                             MAJOR_EDESC  \
0  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
1  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
2  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
3  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
4  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence

  LOAD_HOURS  REQ_HOURS PRE_COURSE_ID RULE_ID  RULE_ADESC
0          1         68       11206.0     2.0      متزامن
1          3         68       11206.0     1.0        سابق
2          3         68       11212.0     1.0        سابق
3          1         68       11323.0     2.0      متزامن
4          1         68       11335.0     2.0      متزامن

[5 rows x 28 columns]

Updated df after dropping specified 'COURSE_ID' values:
   YEAR_ID  SEM_ID  STD_NO                             MAJOR_EDESC  COURSE_ID  \
0     2022       1  313134  Data Science & Artificial Intelligence      11206
1     2022       1  313134  Data Science & Artificial Intelligence      11102
2     2022       1  313134  Data Science & Artificial Intelligence      20233
3     2022       1  313134  Data Science & Artificial Intelligence      31352
4     2022       1  313134  Data Science & Artificial Intelligence      11253

                       COURSE_EDESC   AVG
0       Object Oriented Programming  35.0
1  Introduction to Computer Science  35.0
2               Statistical Methods  35.0
3     Jerusalem : History and Facts  43.0
4   Object Oriented Programming Lab  50.0

In [19]:
#  dropping Introduction to Society, Technology and Environment Protection and Leadership and Societal Responsibility
ids_to_drop = [31153, 31160]

# Drop rows with specified "COURSE_ID"
df = df[~df['COURSE_ID'].isin(ids_to_drop)]

# Print the updated DataFrame without the specified "COURSE_ID" values
print("Updated df after dropping rows with specified COURSE_ID values:")
print(df)

Updated df after dropping rows with specified COURSE_ID values:
      YEAR_ID  SEM_ID  STD_NO                             MAJOR_EDESC  \
0        2022       1  313134  Data Science & Artificial Intelligence
1        2022       1  313134  Data Science & Artificial Intelligence
2        2022       1  313134  Data Science & Artificial Intelligence
3        2022       1  313134  Data Science & Artificial Intelligence
4        2022       1  313134  Data Science & Artificial Intelligence
...       ...     ...     ...                                     ...
9592     2022       2  372468  Data Science & Artificial Intelligence
9593     2022       2  372468  Data Science & Artificial Intelligence
9594     2022       1  372468  Data Science & Artificial Intelligence
9595     2022       1  372468  Data Science & Artificial Intelligence
9596     2022       1  372468  Data Science & Artificial Intelligence

      COURSE_ID                           COURSE_EDESC   AVG
0         11206            Object Oriented Programming  35.0
1         11102       Introduction to Computer Science  35.0
2         20233                    Statistical Methods  35.0
3         31352          Jerusalem : History and Facts  43.0
4         11253        Object Oriented Programming Lab  50.0
...         ...                                    ...   ...
9592      31122  English Language Communication Skills  88.0
9593      31112   Arabic Language Communication Skills  78.0
9594      11102       Introduction to Computer Science  56.0
9595      31151                     National Education  65.0
9596      20132                           Calculus (1)  38.0

[8870 rows x 7 columns]

In [20]:
# dropping Introduction to Society, Technology and Environment Protection and Leadership and Societal Responsibility
ids_to_drop = [31153, 31160]

# Drop rows with specified "COURSE_ID" in study_plan
study_plan = study_plan[~study_plan['COURSE_ID'].isin(ids_to_drop)]

# Print the updated DataFrame without the specified "COURSE_ID" values
print("Updated study_plan after dropping rows with specified COURSE_ID values:")
print(study_plan)

Updated study_plan after dropping rows with specified COURSE_ID values:
    PLAN_ID                      PLAN_DESCA  \
0       163  علم البيانات والذكاء الاصطناعي
1       163  علم البيانات والذكاء الاصطناعي
2       163  علم البيانات والذكاء الاصطناعي
3       163  علم البيانات والذكاء الاصطناعي
4       163  علم البيانات والذكاء الاصطناعي
..      ...                             ...
74      163  علم البيانات والذكاء الاصطناعي
75      163  علم البيانات والذكاء الاصطناعي
76      163  علم البيانات والذكاء الاصطناعي
77      163  علم البيانات والذكاء الاصطناعي
78      163  علم البيانات والذكاء الاصطناعي

                                PLAN_DESCE  PLAN_HOURS  COURSE_ID  \
0   Data Science & Artificial Intelligence         132      11253
1   Data Science & Artificial Intelligence         132      11212
2   Data Science & Artificial Intelligence         132      11313
3   Data Science & Artificial Intelligence         132      11354
4   Data Science & Artificial Intelligence         132      11355
..                                     ...         ...        ...
74  Data Science & Artificial Intelligence         132      14141
75  Data Science & Artificial Intelligence         132      14331
76  Data Science & Artificial Intelligence         132      14271
77  Data Science & Artificial Intelligence         132      11323
78  Data Science & Artificial Intelligence         132      20134

                               COURSE_DESCA  \
0                  مختبر البرمجة بالكينونية
1         تركيب البيانات ومقدمة للخوارزميات
2                تحليل الخوارزميات وتصميمها
3                  مختبر نظم قواعد البيانات
4                         مختبر نظم التشغيل
..                                      ...
74              مختبر مقدمه في علم البيانات
75                   مختبر الذكاء الاصطناعي
76  مختبر الاحصاء والاحتمالات لعلم البيانات
77                       نظم قواعد البيانات
78                      رياضيات منفصلة  (1)

                                        COURSE_DESCE  COURSE_TYP COURSE_TYPEA  \
0                    Object Oriented Programming Lab           2        مختبر
1     Data Structures and Introduction to Algorithms           1       محاضرة
2                    Algorithms  Design and Analysis           1       محاضرة
3                               Database Systems Lab           2        مختبر
4                              Operating Systems Lab           2        مختبر
..                                               ...         ...          ...
74                  Introduction to Data Science lab           2        مختبر
75                       Artificial Intelligence lab           2        مختبر
76  Statistics and  Probability for Data Science lab           2        مختبر
77                                  Database Systems           1       محاضرة
78                          Discrete Mathematics (1)           1       محاضرة

   COURSE_TYPEE  ...         MARK_TYPEE WEB_FLAG MAJOR_ID  \
0           Lab  ...  Distributed 60/40      0.0       28
1       lecture  ...  Distributed 60/40      0.0       28
2       lecture  ...  Distributed 60/40      0.0       28
3           Lab  ...  Distributed 60/40      0.0       28
4           Lab  ...  Distributed 60/40      0.0       28
..          ...  ...                ...      ...      ...
74          Lab  ...  Distributed 60/40      1.0       28
75          Lab  ...  Distributed 60/40      1.0       28
76          Lab  ...  Distributed 60/40      1.0       28
77      lecture  ...  Distributed 60/40      0.0       28
78      lecture  ...  Distributed 60/40      0.0       28

                       MAJOR_ADESC                             MAJOR_EDESC  \
0   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
1   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
2   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
3   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
4   علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
..                             ...                                     ...
74  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
75  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
76  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
77  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence
78  علم البيانات والذكاء الاصطناعي  Data Science & Artificial Intelligence

   LOAD_HOURS  REQ_HOURS PRE_COURSE_ID RULE_ID  RULE_ADESC
0           1         68       11206.0     2.0      متزامن
1           3         68       11206.0     1.0        سابق
2           3         68       11212.0     1.0        سابق
3           1         68       11323.0     2.0      متزامن
4           1         68       11335.0     2.0      متزامن
..        ...        ...           ...     ...         ...
74          1         68       14140.0     2.0      متزامن
75          1         68       14330.0     2.0      متزامن
76          1         68       14270.0     2.0      متزامن
77          3         68       11212.0     1.0        سابق
78          3         25           0.0     0.0           0

[66 rows x 28 columns]

In [21]:
# Check how many nulls
num_nulls = df.isnull().sum()

print(f"{num_nulls.sum()} null values df ")

424 null values df

In [22]:
df_info = df.info()

print(df_info)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8870 entries, 0 to 9596
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   YEAR_ID       8870 non-null   int64
 1   SEM_ID        8870 non-null   int64
 2   STD_NO        8870 non-null   int64
 3   MAJOR_EDESC   8870 non-null   object
 4   COURSE_ID     8870 non-null   int64
 5   COURSE_EDESC  8870 non-null   object
 6   AVG           8446 non-null   float64
dtypes: float64(1), int64(4), object(2)
memory usage: 554.4+ KB
None

In [23]:
# Get the count of each unique value in the "COURSE_EDESC" column
course_counts = df["COURSE_ID"].value_counts()

print("Unique values and their counts in the 'COURSE_ID' column:")
for course, count in course_counts.items():
    print(f"{course}: {count} ")

Unique values and their counts in the 'COURSE_ID' column:
20132: 395
11102: 358
11103: 356
11151: 347
14140: 331
20133: 314
31151: 310
20134: 308
11212: 281
11206: 271
20233: 263
11253: 252
14141: 251
14260: 242
14261: 235
20234: 234
20200: 205
14362: 190
14270: 185
31112: 180
31122: 179
31130: 177
14330: 167
11313: 157
11335: 151
11323: 149
11354: 139
31111: 137
31121: 137
14465: 130
11355: 129
14350: 124
14271: 118
14364: 110
14331: 109
14351: 108
31311: 87
11436: 76
31152: 73
31254: 60
31352: 56
12348: 56
11464: 53
14456: 49
14466: 47
31362: 41
13477: 38
14452: 37
14357: 36
31019: 33
12446: 33
11449: 32
31351: 25
31373: 25
31260: 24
31261: 24
14455: 24
31272: 23
31264: 22
14469: 22
31255: 21
31029: 20
31271: 19
31361: 19
14467: 15
31252: 13
11435: 11
31161: 10
11344: 7
20251: 5
14458: 5

In [24]:
# Calculate the average grade for each course
avg_grade_per_course = df.groupby("COURSE_ID")["AVG"].mean()

print("Average grade for each course:")
print(avg_grade_per_course)

Average grade for each course:
COURSE_ID
11102    70.329577
11103    66.604502
11151    70.308642
11206    66.290196
11212    57.711610
           ...
31351    80.458333
31352    73.057692
31361    73.210526
31362    81.257143
31373    62.000000
Name: AVG, Length: 71, dtype: float64

In [25]:
# sort the AVG grades then print the top 5 with their names 
sorted_avg_grades = avg_grade_per_course.sort_values(ascending=False)
course_ids = df.set_index("COURSE_EDESC")["COURSE_ID"]
sorted_avg_grades_with_ids = sorted_avg_grades.rename(index=course_ids)
merged_data = pd.merge(sorted_avg_grades_with_ids, study_plan[["COURSE_ID", "COURSE_DESCE"]], left_index=True, right_on="COURSE_ID")

# Print the top 5 highest average grades
print("Top 5 highest average grades with IDs and names:")
print(merged_data.head(5)[["COURSE_ID", "COURSE_DESCE", "AVG"]])
print("\n" + "-" * 60 + "\n")
# print the bottom 5 
print("Bottom 5 lowest average grades with IDs and names:")
print(merged_data.tail(5)[["COURSE_ID", "COURSE_DESCE", "AVG"]])

Top 5 highest average grades with IDs and names:
    COURSE_ID                           COURSE_DESCE        AVG
22      20251                     History of Science  85.800000
69      31122  English Language Communication Skills  85.553073
65      31260                           Human Rights  83.541667
3       11354                   Database Systems Lab  81.985612
72      31130                      Foreign languages  81.690476

------------------------------------------------------------

Bottom 5 lowest average grades with IDs and names:
    COURSE_ID                                    COURSE_DESCE        AVG
17      20234                                  Linear Algebra  58.485849
1       11212  Data Structures and Introduction to Algorithms  57.711610
59      13477                            Software Engineering  57.675676
37      14452                             Pattern Recognition  56.416667
45      14466                           Business Intelligence  52.066667

In [91]:
# Print all rows where 'AVG' is null in df
null_avg_rows = df[df['AVG'].isnull()]
print("Rows where 'AVG' is null in df:")
print(null_avg_rows)

Rows where 'AVG' is null in df:
      YEAR_ID  SEM_ID  STD_NO                             MAJOR_EDESC  \
5        2022       1  313134  Data Science & Artificial Intelligence
7        2022       2  313134  Data Science & Artificial Intelligence
12       2020       1  325113  Data Science & Artificial Intelligence
22       2019       1  325113  Data Science & Artificial Intelligence
23       2019       1  325113  Data Science & Artificial Intelligence
...       ...     ...     ...                                     ...
9442     2022       1  370763  Data Science & Artificial Intelligence
9463     2022       2  368629  Data Science & Artificial Intelligence
9492     2022       2  380993  Data Science & Artificial Intelligence
9496     2022       3  381873  Data Science & Artificial Intelligence
9511     2022       2  376285  Data Science & Artificial Intelligence

      COURSE_ID                      COURSE_EDESC  AVG
5         20234                    Linear Algebra  NaN
7         20234                    Linear Algebra  NaN
12        31130                 Foreign languages  NaN
22        11102  Introduction to Computer Science  NaN
23        20132                      Calculus (1)  NaN
...         ...                               ...  ...
9442      20132                      Calculus (1)  NaN
9463      20133                   Calculus 2 (IT)  NaN
9492      20134          Discrete Mathematics (1)  NaN
9496      11103            Structured Programming  NaN
9511      11103            Structured Programming  NaN

[424 rows x 7 columns]

In [92]:
# Replace null values in 'AVG' column with 35.0 in df this is because these were dropped 
df['AVG'].fillna(35.0, inplace=True)

print("Updated df :")
print(df.head())

Updated df after replacing null values in 'AVG' column:
   YEAR_ID  SEM_ID  STD_NO                             MAJOR_EDESC  COURSE_ID  \
0     2022       1  313134  Data Science & Artificial Intelligence      11206
1     2022       1  313134  Data Science & Artificial Intelligence      11102
2     2022       1  313134  Data Science & Artificial Intelligence      20233
3     2022       1  313134  Data Science & Artificial Intelligence      31352
4     2022       1  313134  Data Science & Artificial Intelligence      11253

                       COURSE_EDESC   AVG
0       Object Oriented Programming  35.0
1  Introduction to Computer Science  35.0
2               Statistical Methods  35.0
3     Jerusalem : History and Facts  43.0
4   Object Oriented Programming Lab  50.0

In [93]:
# Check for null values and duplicates in all
print("Null values in df:")
print(df.isnull().sum())
print("\nDuplicates in df:")
print(df[df.duplicated()])

print("\nNull values in study_plan:")
print(study_plan.isnull().sum())
print("\nDuplicates in study_plan:")
print(study_plan[study_plan.duplicated()])

print("\nNull values in high_school_df:")
print(high_school_df.isnull().sum())
print("\nDuplicates in high_school_df:")
print(high_school_df[high_school_df.duplicated()])

Null values in df:
YEAR_ID         0
SEM_ID          0
STD_NO          0
MAJOR_EDESC     0
COURSE_ID       0
COURSE_EDESC    0
AVG             0
dtype: int64

Duplicates in df:
Empty DataFrame
Columns: [YEAR_ID, SEM_ID, STD_NO, MAJOR_EDESC, COURSE_ID, COURSE_EDESC, AVG]
Index: []

Null values in study_plan:
PLAN_ID          0
PLAN_DESCA       0
PLAN_DESCE       0
PLAN_HOURS       0
COURSE_ID        0
COURSE_DESCA     0
COURSE_DESCE     0
COURSE_TYP       0
COURSE_TYPEA     0
COURSE_TYPEE     0
LEVEL_ID         0
LEVEL_DESCA      0
LEVEL_DESCE      0
REQ_TYP          0
REQ_TYPEA        0
REQ_TYPEE        0
MARK_TYP         0
MARK_TYPEA       0
MARK_TYPEE       0
WEB_FLAG         0
MAJOR_ID         0
MAJOR_ADESC      0
MAJOR_EDESC      0
LOAD_HOURS       0
REQ_HOURS        0
PRE_COURSE_ID    0
RULE_ID          0
RULE_ADESC       0
dtype: int64

Duplicates in study_plan:
Empty DataFrame
Columns: [PLAN_ID, PLAN_DESCA, PLAN_DESCE, PLAN_HOURS, COURSE_ID, COURSE_DESCA, COURSE_DESCE, COURSE_TYP, COURSE_TYPEA, COURSE_TYPEE, LEVEL_ID, LEVEL_DESCA, LEVEL_DESCE, REQ_TYP, REQ_TYPEA, REQ_TYPEE, MARK_TYP, MARK_TYPEA, MARK_TYPEE, WEB_FLAG, MAJOR_ID, MAJOR_ADESC, MAJOR_EDESC, LOAD_HOURS, REQ_HOURS, PRE_COURSE_ID, RULE_ID, RULE_ADESC]
Index: []

[0 rows x 28 columns]

Null values in high_school_df:
STD_NO            0
MAJOR_EDESC       0
GENDER_EDESC      0
TAWJIH_COUNTRY    0
TAWJIH_GPA        0
TAWJIH_BRANCH     0
dtype: int64

Duplicates in high_school_df:
Empty DataFrame
Columns: [STD_NO, MAJOR_EDESC, GENDER_EDESC, TAWJIH_COUNTRY, TAWJIH_GPA, TAWJIH_BRANCH]
Index: []

In [94]:
# Print column names for all
print("Columns in df:")
print(df.columns)

print("\nColumns in study_plan:")
print(study_plan.columns)

print("\nColumns in high_school_df:")
print(high_school_df.columns)

Columns in df:
Index(['YEAR_ID', 'SEM_ID', 'STD_NO', 'MAJOR_EDESC', 'COURSE_ID',
       'COURSE_EDESC', 'AVG'],
      dtype='object')

Columns in study_plan:
Index(['PLAN_ID', 'PLAN_DESCA', 'PLAN_DESCE', 'PLAN_HOURS', 'COURSE_ID',
       'COURSE_DESCA', 'COURSE_DESCE', 'COURSE_TYP', 'COURSE_TYPEA',
       'COURSE_TYPEE', 'LEVEL_ID', 'LEVEL_DESCA', 'LEVEL_DESCE', 'REQ_TYP',
       'REQ_TYPEA', 'REQ_TYPEE', 'MARK_TYP', 'MARK_TYPEA', 'MARK_TYPEE',
       'WEB_FLAG', 'MAJOR_ID', 'MAJOR_ADESC', 'MAJOR_EDESC', 'LOAD_HOURS',
       'REQ_HOURS', 'PRE_COURSE_ID', 'RULE_ID', 'RULE_ADESC'],
      dtype='object')

Columns in high_school_df:
Index(['STD_NO', 'MAJOR_EDESC', 'GENDER_EDESC', 'TAWJIH_COUNTRY', 'TAWJIH_GPA',
       'TAWJIH_BRANCH'],
      dtype='object')

In [95]:
# Drop the 'MAJOR_EDESC' column from df for not being numerical
df.drop(columns=['MAJOR_EDESC'], inplace=True)

print("Updated df after dropping 'MAJOR_EDESC' column:")
print(df.head())

Updated df after dropping 'MAJOR_EDESC' column:
   YEAR_ID  SEM_ID  STD_NO  COURSE_ID                      COURSE_EDESC   AVG
0     2022       1  313134      11206       Object Oriented Programming  35.0
1     2022       1  313134      11102  Introduction to Computer Science  35.0
2     2022       1  313134      20233               Statistical Methods  35.0
3     2022       1  313134      31352     Jerusalem : History and Facts  43.0
4     2022       1  313134      11253   Object Oriented Programming Lab  50.0

In [96]:
# drop these columns from study plan because they are not numerical 
columns_to_drop = ['PLAN_ID', 'PLAN_DESCA', 'PLAN_DESCE', 'PLAN_HOURS', 
                   'COURSE_DESCA', 'COURSE_TYPEA',
                   'LEVEL_DESCA', 'REQ_TYPEA', 'MARK_TYPEA',
                   'MAJOR_ID', 'MAJOR_ADESC', 'MAJOR_EDESC']

study_plan.drop(columns=columns_to_drop, inplace=True)

print("Updated study_plan after dropping specified columns:")
print(study_plan.head())

Updated study_plan after dropping specified columns:
   COURSE_ID                                    COURSE_DESCE  COURSE_TYP  \
0      11253                 Object Oriented Programming Lab           2
1      11212  Data Structures and Introduction to Algorithms           1
2      11313                 Algorithms  Design and Analysis           1
3      11354                            Database Systems Lab           2
4      11355                           Operating Systems Lab           2

  COURSE_TYPEE  LEVEL_ID  LEVEL_DESCE  REQ_TYP  \
0          Lab         2  Second Year        5
1      lecture         2  Second Year        5
2      lecture         3   Third Year        5
3          Lab         3   Third Year        5
4          Lab         3   Third Year        5

                         REQ_TYPEE  MARK_TYP         MARK_TYPEE  WEB_FLAG  \
0  Compulsory Program Requirements         1  Distributed 60/40       0.0
1  Compulsory Program Requirements         1  Distributed 60/40       0.0
2  Compulsory Program Requirements         1  Distributed 60/40       0.0
3  Compulsory Program Requirements         1  Distributed 60/40       0.0
4  Compulsory Program Requirements         1  Distributed 60/40       0.0

   LOAD_HOURS  REQ_HOURS  PRE_COURSE_ID  RULE_ID RULE_ADESC
0           1         68        11206.0      2.0     متزامن
1           3         68        11206.0      1.0       سابق
2           3         68        11212.0      1.0       سابق
3           1         68        11323.0      2.0     متزامن
4           1         68        11335.0      2.0     متزامن

In [97]:
# Check if LEVEL_DESCE contains the value "Istedraki" and replace with "Remedial"
study_plan.loc[study_plan['LEVEL_DESCE'].str.contains('Istedraki', case=False, na=False), 'LEVEL_DESCE'] = 'Remedial'

print("Updated study_plan after replacing 'Istedraki' with 'Remedial' in LEVEL_DESCE:")
print(study_plan.head())

Updated study_plan after replacing 'Istedraki' with 'Remedial' in LEVEL_DESCE:
   COURSE_ID                                    COURSE_DESCE  COURSE_TYP  \
0      11253                 Object Oriented Programming Lab           2
1      11212  Data Structures and Introduction to Algorithms           1
2      11313                 Algorithms  Design and Analysis           1
3      11354                            Database Systems Lab           2
4      11355                           Operating Systems Lab           2

  COURSE_TYPEE  LEVEL_ID  LEVEL_DESCE  REQ_TYP  \
0          Lab         2  Second Year        5
1      lecture         2  Second Year        5
2      lecture         3   Third Year        5
3          Lab         3   Third Year        5
4          Lab         3   Third Year        5

                         REQ_TYPEE  MARK_TYP         MARK_TYPEE  WEB_FLAG  \
0  Compulsory Program Requirements         1  Distributed 60/40       0.0
1  Compulsory Program Requirements         1  Distributed 60/40       0.0
2  Compulsory Program Requirements         1  Distributed 60/40       0.0
3  Compulsory Program Requirements         1  Distributed 60/40       0.0
4  Compulsory Program Requirements         1  Distributed 60/40       0.0

   LOAD_HOURS  REQ_HOURS  PRE_COURSE_ID  RULE_ID RULE_ADESC
0           1         68        11206.0      2.0     متزامن
1           3         68        11206.0      1.0       سابق
2           3         68        11212.0      1.0       سابق
3           1         68        11323.0      2.0     متزامن
4           1         68        11335.0      2.0     متزامن

In [98]:
remedial_rows = study_plan[study_plan['LEVEL_DESCE'] == 'Remedial']
print("Rows with 'LEVEL_DESCE' as 'Remedial':")
print(remedial_rows)

Rows with 'LEVEL_DESCE' as 'Remedial':
Empty DataFrame
Columns: [COURSE_ID, COURSE_DESCE, COURSE_TYP, COURSE_TYPEE, LEVEL_ID, LEVEL_DESCE, REQ_TYP, REQ_TYPEE, MARK_TYP, MARK_TYPEE, WEB_FLAG, LOAD_HOURS, REQ_HOURS, PRE_COURSE_ID, RULE_ID, RULE_ADESC]
Index: []

In [99]:
# Check if MARK_TYPEE contains the value "From 100" and replace with "Distributed 60/40"
study_plan.loc[study_plan['MARK_TYPEE'].str.contains('From 100', case=False, na=False), 'MARK_TYPEE'] = 'Distributed 60/40'

affected_rows = study_plan[study_plan['MARK_TYPEE'] == 'Distributed 60/40']
print("Rows affected by changing 'MARK_TYPEE' to 'Distributed 60/40':")
print(affected_rows)

Rows affected by changing 'MARK_TYPEE' to 'Distributed 60/40':
    COURSE_ID                                      COURSE_DESCE  COURSE_TYP  \
0       11253                   Object Oriented Programming Lab           2
1       11212    Data Structures and Introduction to Algorithms           1
2       11313                   Algorithms  Design and Analysis           1
3       11354                              Database Systems Lab           2
4       11355                             Operating Systems Lab           2
..        ...                                               ...         ...
74      14141                  Introduction to Data Science lab           2
75      14331                       Artificial Intelligence lab           2
76      14271  Statistics and  Probability for Data Science lab           2
77      11323                                  Database Systems           1
78      20134                          Discrete Mathematics (1)           1

   COURSE_TYPEE  LEVEL_ID  LEVEL_DESCE  REQ_TYP  \
0           Lab         2  Second Year        5
1       lecture         2  Second Year        5
2       lecture         3   Third Year        5
3           Lab         3   Third Year        5
4           Lab         3   Third Year        5
..          ...       ...          ...      ...
74          Lab         1   First Year        5
75          Lab         1   First Year        5
76          Lab         1   First Year        5
77      lecture         3   Third Year        5
78      lecture         1   First Year        3

                          REQ_TYPEE  MARK_TYP         MARK_TYPEE  WEB_FLAG  \
0   Compulsory Program Requirements         1  Distributed 60/40       0.0
1   Compulsory Program Requirements         1  Distributed 60/40       0.0
2   Compulsory Program Requirements         1  Distributed 60/40       0.0
3   Compulsory Program Requirements         1  Distributed 60/40       0.0
4   Compulsory Program Requirements         1  Distributed 60/40       0.0
..                              ...       ...                ...       ...
74  Compulsory Program Requirements         1  Distributed 60/40       1.0
75  Compulsory Program Requirements         1  Distributed 60/40       1.0
76  Compulsory Program Requirements         1  Distributed 60/40       1.0
77  Compulsory Program Requirements         1  Distributed 60/40       0.0
78  Compulsory School Requirements          1  Distributed 60/40       0.0

    LOAD_HOURS  REQ_HOURS  PRE_COURSE_ID  RULE_ID RULE_ADESC
0            1         68        11206.0      2.0     متزامن
1            3         68        11206.0      1.0       سابق
2            3         68        11212.0      1.0       سابق
3            1         68        11323.0      2.0     متزامن
4            1         68        11335.0      2.0     متزامن
..         ...        ...            ...      ...        ...
74           1         68        14140.0      2.0     متزامن
75           1         68        14330.0      2.0     متزامن
76           1         68        14270.0      2.0     متزامن
77           3         68        11212.0      1.0       سابق
78           3         25            0.0      0.0          0

[66 rows x 16 columns]

In [100]:
# Check if LEVEL_DESCE is 'Remedial' and update MARK_TYPEE and MARK_TYP accordingly
study_plan.loc[study_plan['LEVEL_DESCE'] == 'Remedial', 'MARK_TYPEE'] = 'Pass/Fail'
study_plan.loc[study_plan['LEVEL_DESCE'] == 'Remedial', 'MARK_TYP'] = 3

print("Updated study_plan after changing 'MARK_TYPEE' and 'MARK_TYP' for 'Remedial' level:")
print(study_plan.head())

Updated study_plan after changing 'MARK_TYPEE' and 'MARK_TYP' for 'Remedial' level:
   COURSE_ID                                    COURSE_DESCE  COURSE_TYP  \
0      11253                 Object Oriented Programming Lab           2
1      11212  Data Structures and Introduction to Algorithms           1
2      11313                 Algorithms  Design and Analysis           1
3      11354                            Database Systems Lab           2
4      11355                           Operating Systems Lab           2

  COURSE_TYPEE  LEVEL_ID  LEVEL_DESCE  REQ_TYP  \
0          Lab         2  Second Year        5
1      lecture         2  Second Year        5
2      lecture         3   Third Year        5
3          Lab         3   Third Year        5
4          Lab         3   Third Year        5

                         REQ_TYPEE  MARK_TYP         MARK_TYPEE  WEB_FLAG  \
0  Compulsory Program Requirements         1  Distributed 60/40       0.0
1  Compulsory Program Requirements         1  Distributed 60/40       0.0
2  Compulsory Program Requirements         1  Distributed 60/40       0.0
3  Compulsory Program Requirements         1  Distributed 60/40       0.0
4  Compulsory Program Requirements         1  Distributed 60/40       0.0

   LOAD_HOURS  REQ_HOURS  PRE_COURSE_ID  RULE_ID RULE_ADESC
0           1         68        11206.0      2.0     متزامن
1           3         68        11206.0      1.0       سابق
2           3         68        11212.0      1.0       سابق
3           1         68        11323.0      2.0     متزامن
4           1         68        11335.0      2.0     متزامن

In [101]:
# Print all remedial
remedial_rows = study_plan[study_plan['LEVEL_DESCE'] == 'Remedial']
print("Rows with 'LEVEL_DESCE' as 'Remedial':")
print(remedial_rows)

Rows with 'LEVEL_DESCE' as 'Remedial':
Empty DataFrame
Columns: [COURSE_ID, COURSE_DESCE, COURSE_TYP, COURSE_TYPEE, LEVEL_ID, LEVEL_DESCE, REQ_TYP, REQ_TYPEE, MARK_TYP, MARK_TYPEE, WEB_FLAG, LOAD_HOURS, REQ_HOURS, PRE_COURSE_ID, RULE_ID, RULE_ADESC]
Index: []

In [105]:
df

,YEAR_ID,SEM_ID,STD_NO,COURSE_ID,COURSE_EDESC,AVG
0,2022,1,313134,11206,Object Oriented Programming,35.0
1,2022,1,313134,11102,Introduction to Computer Science,35.0
2,2022,1,313134,20233,Statistical Methods,35.0
3,2022,1,313134,31352,Jerusalem : History and Facts,43.0
4,2022,1,313134,11253,Object Oriented Programming Lab,50.0
...,...,...,...,...,...,...
9592,2022,2,372468,31122,English Language Communication Skills,88.0
9593,2022,2,372468,31112,Arabic Language Communication Skills,78.0
9594,2022,1,372468,11102,Introduction to Computer Science,56.0
9595,2022,1,372468,31151,National Education,65.0
9596,2022,1,372468,20132,Calculus (1),38.0

In [106]:
# Rename the 'RULE_ADESC' column to 'RULE_DESC' in study_plan
study_plan.rename(columns={'RULE_ADESC': 'RULE_DESC'}, inplace=True)

print("Updated study_plan after renaming 'RULE_ADESC' to 'RULE_DESC':")
print(study_plan.head())

Updated study_plan after renaming 'RULE_ADESC' to 'RULE_DESC':
   COURSE_ID                                    COURSE_DESCE  COURSE_TYP  \
0      11253                 Object Oriented Programming Lab           2
1      11212  Data Structures and Introduction to Algorithms           1
2      11313                 Algorithms  Design and Analysis           1
3      11354                            Database Systems Lab           2
4      11355                           Operating Systems Lab           2

  COURSE_TYPEE  LEVEL_ID  LEVEL_DESCE  REQ_TYP  \
0          Lab         2  Second Year        5
1      lecture         2  Second Year        5
2      lecture         3   Third Year        5
3          Lab         3   Third Year        5
4          Lab         3   Third Year        5

                         REQ_TYPEE  MARK_TYP         MARK_TYPEE  WEB_FLAG  \
0  Compulsory Program Requirements         1  Distributed 60/40       0.0
1  Compulsory Program Requirements         1  Distributed 60/40       0.0
2  Compulsory Program Requirements         1  Distributed 60/40       0.0
3  Compulsory Program Requirements         1  Distributed 60/40       0.0
4  Compulsory Program Requirements         1  Distributed 60/40       0.0

   LOAD_HOURS  REQ_HOURS  PRE_COURSE_ID  RULE_ID RULE_DESC
0           1         68        11206.0      2.0    متزامن
1           3         68        11206.0      1.0      سابق
2           3         68        11212.0      1.0      سابق
3           1         68        11323.0      2.0    متزامن
4           1         68        11335.0      2.0    متزامن

In [107]:
unique_rule_desc = study_plan['RULE_DESC'].unique()

print(unique_rule_desc)

['متزامن' 'سابق' 0 'انهاء ساعات معتمدة ']

In [108]:
# Replace values in 'RULE_DESC' column in study_plan
study_plan['RULE_DESC'].replace({'سابق': 'Prerequisite', 'متزامن': 'Concurrent','انهاء ساعات معتمدة ':'Finish set amount of hours'}, inplace=True)

print("Updated study_plan after replacing values in 'RULE_DESC' column:")
print(study_plan.head())

Updated study_plan after replacing values in 'RULE_DESC' column:
   COURSE_ID                                    COURSE_DESCE  COURSE_TYP  \
0      11253                 Object Oriented Programming Lab           2
1      11212  Data Structures and Introduction to Algorithms           1
2      11313                 Algorithms  Design and Analysis           1
3      11354                            Database Systems Lab           2
4      11355                           Operating Systems Lab           2

  COURSE_TYPEE  LEVEL_ID  LEVEL_DESCE  REQ_TYP  \
0          Lab         2  Second Year        5
1      lecture         2  Second Year        5
2      lecture         3   Third Year        5
3          Lab         3   Third Year        5
4          Lab         3   Third Year        5

                         REQ_TYPEE  MARK_TYP         MARK_TYPEE  WEB_FLAG  \
0  Compulsory Program Requirements         1  Distributed 60/40       0.0
1  Compulsory Program Requirements         1  Distributed 60/40       0.0
2  Compulsory Program Requirements         1  Distributed 60/40       0.0
3  Compulsory Program Requirements         1  Distributed 60/40       0.0
4  Compulsory Program Requirements         1  Distributed 60/40       0.0

   LOAD_HOURS  REQ_HOURS  PRE_COURSE_ID  RULE_ID     RULE_DESC
0           1         68        11206.0      2.0    Concurrent
1           3         68        11206.0      1.0  Prerequisite
2           3         68        11212.0      1.0  Prerequisite
3           1         68        11323.0      2.0    Concurrent
4           1         68        11335.0      2.0    Concurrent

In [109]:
unique_req_type = study_plan['REQ_TYP'].unique()

print(unique_req_type)

[5 2 3 6 1]

In [110]:
#updating because for some reason there was no 4 in the req types
study_plan['REQ_TYP'].replace({5:4,6:5}, inplace=True)

print("Updated study_plan after fixing index values in 'REQ_TYP' column:")
print(study_plan.head())

Updated study_plan after fixing index values in 'REQ_TYP' column:
   COURSE_ID                                    COURSE_DESCE  COURSE_TYP  \
0      11253                 Object Oriented Programming Lab           2
1      11212  Data Structures and Introduction to Algorithms           1
2      11313                 Algorithms  Design and Analysis           1
3      11354                            Database Systems Lab           2
4      11355                           Operating Systems Lab           2

  COURSE_TYPEE  LEVEL_ID  LEVEL_DESCE  REQ_TYP  \
0          Lab         2  Second Year        4
1      lecture         2  Second Year        4
2      lecture         3   Third Year        4
3          Lab         3   Third Year        4
4          Lab         3   Third Year        4

                         REQ_TYPEE  MARK_TYP         MARK_TYPEE  WEB_FLAG  \
0  Compulsory Program Requirements         1  Distributed 60/40       0.0
1  Compulsory Program Requirements         1  Distributed 60/40       0.0
2  Compulsory Program Requirements         1  Distributed 60/40       0.0
3  Compulsory Program Requirements         1  Distributed 60/40       0.0
4  Compulsory Program Requirements         1  Distributed 60/40       0.0

   LOAD_HOURS  REQ_HOURS  PRE_COURSE_ID  RULE_ID     RULE_DESC
0           1         68        11206.0      2.0    Concurrent
1           3         68        11206.0      1.0  Prerequisite
2           3         68        11212.0      1.0  Prerequisite
3           1         68        11323.0      2.0    Concurrent
4           1         68        11335.0      2.0    Concurrent

In [111]:
# Group by "COURSE_ID" and aggregate the corresponding "COURSE_EDESC"
unique_courses = df.groupby('COURSE_ID')['COURSE_EDESC'].unique()

for course_id, course_edesc_list in unique_courses.items():
    print(f"COURSE_ID: {course_id}, COURSE_EDESC: {course_edesc_list[0]}")

COURSE_ID: 11102, COURSE_EDESC: Introduction to Computer Science
COURSE_ID: 11103, COURSE_EDESC: Structured Programming
COURSE_ID: 11151, COURSE_EDESC: Structured ProgrammingLab
COURSE_ID: 11206, COURSE_EDESC: Object Oriented Programming
COURSE_ID: 11212, COURSE_EDESC: Data Structures and Introduction to Algorithms
COURSE_ID: 11253, COURSE_EDESC: Object Oriented Programming Lab
COURSE_ID: 11313, COURSE_EDESC: Algorithms  Design and Analysis
COURSE_ID: 11323, COURSE_EDESC: Database Systems
COURSE_ID: 11335, COURSE_EDESC: Operating Systems
COURSE_ID: 11344, COURSE_EDESC: Advanced Topics in Internet Programming

COURSE_ID: 11354, COURSE_EDESC: Database Systems Lab
COURSE_ID: 11355, COURSE_EDESC: Operating Systems Lab
COURSE_ID: 11435, COURSE_EDESC: Data Communications & Computer Networks
COURSE_ID: 11436, COURSE_EDESC: Distributed Systems
COURSE_ID: 11449, COURSE_EDESC: Computer and Society
COURSE_ID: 11464, COURSE_EDESC: Information Systems Security
COURSE_ID: 12348, COURSE_EDESC: Multimedia Systems
COURSE_ID: 12446, COURSE_EDESC: Digital Image Processing
COURSE_ID: 13477, COURSE_EDESC: Software Engineering
COURSE_ID: 14140, COURSE_EDESC: Introduction to Data Science
COURSE_ID: 14141, COURSE_EDESC: Introduction to Data Science lab
COURSE_ID: 14260, COURSE_EDESC: Data Engineering
COURSE_ID: 14261, COURSE_EDESC: Data Engineering Lab
COURSE_ID: 14270, COURSE_EDESC: Statistics and  Probability for Data Science
COURSE_ID: 14271, COURSE_EDESC: Statistics and  Probability for Data Science lab
COURSE_ID: 14330, COURSE_EDESC: Artificial Intelligence
COURSE_ID: 14331, COURSE_EDESC: Artificial Intelligence lab
COURSE_ID: 14350, COURSE_EDESC: Computer Architecture for Machine Learning
COURSE_ID: 14351, COURSE_EDESC: Natural Language Processing
COURSE_ID: 14357, COURSE_EDESC: Special Topic In Data Science and AI (1)
COURSE_ID: 14362, COURSE_EDESC: High Performance Computing for Big Data
COURSE_ID: 14364, COURSE_EDESC: Data Visualization
COURSE_ID: 14452, COURSE_EDESC: Pattern Recognition
COURSE_ID: 14455, COURSE_EDESC: Information Retrieval
COURSE_ID: 14456, COURSE_EDESC: Robotics Programming
COURSE_ID: 14458, COURSE_EDESC: Computer Vision
COURSE_ID: 14465, COURSE_EDESC: Data Mining
COURSE_ID: 14466, COURSE_EDESC: Business Intelligence
COURSE_ID: 14467, COURSE_EDESC: Cloud Computing
COURSE_ID: 14469, COURSE_EDESC: Special Topic In Data Science and AI (2)
COURSE_ID: 20132, COURSE_EDESC: Calculus (1)
COURSE_ID: 20133, COURSE_EDESC: Calculus (2)
COURSE_ID: 20134, COURSE_EDESC: Discrete Mathematics (1)
COURSE_ID: 20200, COURSE_EDESC: Technical Writing and Communication Skills
COURSE_ID: 20233, COURSE_EDESC: Statistical Methods
COURSE_ID: 20234, COURSE_EDESC: Linear Algebra
COURSE_ID: 20251, COURSE_EDESC: History of Science
COURSE_ID: 31019, COURSE_EDESC: Arabic Language(Remedial)
COURSE_ID: 31029, COURSE_EDESC: English Language (Remedial)
COURSE_ID: 31111, COURSE_EDESC: Arabic Language
COURSE_ID: 31112, COURSE_EDESC: Arabic Language Communication Skills
COURSE_ID: 31121, COURSE_EDESC: English Language
COURSE_ID: 31122, COURSE_EDESC: English Language Communication Skills
COURSE_ID: 31130, COURSE_EDESC: Foreign languages
COURSE_ID: 31151, COURSE_EDESC: National Education
COURSE_ID: 31152, COURSE_EDESC: Arabic Islamic Civilization
COURSE_ID: 31161, COURSE_EDESC: Introduction to Library Science
COURSE_ID: 31252, COURSE_EDESC: Governance and Development
COURSE_ID: 31254, COURSE_EDESC: Entrepreneurship and Innovation
COURSE_ID: 31255, COURSE_EDESC: Entrepreneurship for Business
COURSE_ID: 31260, COURSE_EDESC: Human Rights
COURSE_ID: 31261, COURSE_EDESC: Introduction to Politics and Economic Science
COURSE_ID: 31264, COURSE_EDESC: Introduction To Psychology
COURSE_ID: 31271, COURSE_EDESC: Environmental Science
COURSE_ID: 31272, COURSE_EDESC: Development and Environment
COURSE_ID: 31311, COURSE_EDESC: Scientific Research Methods
COURSE_ID: 31351, COURSE_EDESC: Contemporary Issues in the Arab  World
COURSE_ID: 31352, COURSE_EDESC: Jerusalem : History and Facts
COURSE_ID: 31361, COURSE_EDESC: Introduction to  Philosophy
COURSE_ID: 31362, COURSE_EDESC: Philosophy and Critical Thinking
COURSE_ID: 31373, COURSE_EDESC: 21st Century Skills

In [112]:
unique_courses_dict = {}

# Iterate through the grouped data and populate the dictionary
for course_id, course_edesc_list in df.groupby('COURSE_ID')['COURSE_EDESC'].unique().items():
    unique_courses_dict[course_id] = course_edesc_list[0]

print(unique_courses_dict)

{11102: 'Introduction to Computer Science', 11103: 'Structured Programming', 11151: 'Structured ProgrammingLab', 11206: 'Object Oriented Programming', 11212: 'Data Structures and Introduction to Algorithms', 11253: 'Object Oriented Programming Lab', 11313: 'Algorithms  Design and Analysis', 11323: 'Database Systems', 11335: 'Operating Systems', 11344: 'Advanced Topics in Internet Programming\n', 11354: 'Database Systems Lab', 11355: 'Operating Systems Lab', 11435: 'Data Communications & Computer Networks', 11436: 'Distributed Systems', 11449: 'Computer and Society', 11464: 'Information Systems Security', 12348: 'Multimedia Systems', 12446: 'Digital Image Processing', 13477: 'Software Engineering', 14140: 'Introduction to Data Science', 14141: 'Introduction to Data Science lab', 14260: 'Data Engineering', 14261: 'Data Engineering Lab', 14270: 'Statistics and  Probability for Data Science', 14271: 'Statistics and  Probability for Data Science lab', 14330: 'Artificial Intelligence', 14331: 'Artificial Intelligence lab', 14350: 'Computer Architecture for Machine Learning', 14351: 'Natural Language Processing', 14357: 'Special Topic In Data Science and AI (1)', 14362: 'High Performance Computing for Big Data', 14364: 'Data Visualization', 14452: 'Pattern Recognition', 14455: 'Information Retrieval', 14456: 'Robotics Programming', 14458: 'Computer Vision', 14465: 'Data Mining', 14466: 'Business Intelligence', 14467: 'Cloud Computing', 14469: 'Special Topic In Data Science and AI (2)', 20132: 'Calculus (1)', 20133: 'Calculus (2)', 20134: 'Discrete Mathematics (1)', 20200: 'Technical Writing and Communication Skills', 20233: 'Statistical Methods', 20234: 'Linear Algebra', 20251: 'History of Science', 31019: 'Arabic Language(Remedial)', 31029: 'English Language (Remedial)', 31111: 'Arabic Language', 31112: 'Arabic Language Communication Skills', 31121: 'English Language', 31122: 'English Language Communication Skills', 31130: 'Foreign languages', 31151: 'National Education', 31152: 'Arabic Islamic Civilization', 31161: 'Introduction to Library Science', 31252: 'Governance and Development', 31254: 'Entrepreneurship and Innovation', 31255: 'Entrepreneurship for Business', 31260: 'Human Rights', 31261: 'Introduction to Politics and Economic Science', 31264: 'Introduction To Psychology', 31271: 'Environmental Science', 31272: 'Development and Environment', 31311: 'Scientific Research Methods', 31351: 'Contemporary Issues in the Arab  World', 31352: 'Jerusalem : History and Facts', 31361: 'Introduction to  Philosophy', 31362: 'Philosophy and Critical Thinking', 31373: '21st Century Skills'}

In [113]:
unique_courses_studyPlan = {}

# Iterate through the grouped data and populate the dictionary
for course_id, course_edesc_list in study_plan.groupby('COURSE_ID')['COURSE_DESCE'].unique().items():
    unique_courses_studyPlan[course_id] = course_edesc_list[0]

# Print the dictionary
print(unique_courses_studyPlan)

{11102: 'Introduction to Computer Science', 11103: 'Structured Programming', 11151: 'Structured ProgrammingLab', 11206: 'Object Oriented Programming', 11212: 'Data Structures and Introduction to Algorithms', 11253: 'Object Oriented Programming Lab', 11313: 'Algorithms  Design and Analysis', 11323: 'Database Systems', 11335: 'Operating Systems', 11344: 'Advanced Topics in Internet Programming\n', 11354: 'Database Systems Lab', 11355: 'Operating Systems Lab', 11435: 'Data Communications & Computer Networks', 11436: 'Distributed Systems', 11449: 'Computer and Society', 11464: 'Information Systems Security', 12348: 'Multimedia Systems', 12446: 'Digital Image Processing', 13432: 'Software Project Management', 13477: 'Software Engineering', 14140: 'Introduction to Data Science', 14141: 'Introduction to Data Science lab', 14260: 'Data Engineering', 14261: 'Data Engineering Lab', 14270: 'Statistics and  Probability for Data Science', 14271: 'Statistics and  Probability for Data Science lab', 14330: 'Artificial Intelligence', 14331: 'Artificial Intelligence lab', 14350: 'Computer Architecture for Machine Learning', 14351: 'Natural Language Processing', 14357: 'Special Topic In Data Science and AI (1)', 14362: 'High Performance Computing for Big Data', 14364: 'Data Visualization', 14452: 'Pattern Recognition', 14455: 'Information Retrieval', 14456: 'Robotics Programming', 14458: 'Computer Vision', 14465: 'Data Mining', 14466: 'Business Intelligence', 14467: 'Cloud Computing', 14468: 'Security and Privacy of Big data', 14469: 'Special Topic In Data Science and AI (2)', 20132: 'Calculus (1)', 20133: 'Calculus (2)', 20134: 'Discrete Mathematics (1)', 20200: 'Technical Writing and Communication Skills', 20233: 'Statistical Methods', 20234: 'Linear Algebra', 20251: 'History of Science', 31100: 'Sports and Health', 31112: 'Arabic Language Communication Skills', 31122: 'English Language Communication Skills', 31130: 'Foreign languages', 31151: 'National Education', 31152: 'Arabic Islamic Civilization', 31211: 'Arabic Literature', 31252: 'Governance and Development', 31254: 'Entrepreneurship and Innovation', 31260: 'Human Rights', 31261: 'Introduction to Politics and Economic Science', 31264: 'Introduction To Psychology', 31272: 'Development and Environment', 31311: 'Scientific Research Methods', 31351: 'Contemporary Issues in the Arab  World', 31352: 'Jerusalem : History and Facts', 31362: 'Philosophy and Critical Thinking'}

In [114]:
# find keys present in unique_courses_dict but not in unique_courses_studyPlan
missing_keys_dict = set(unique_courses_dict.keys()) - set(unique_courses_studyPlan.keys())
missing_keys_studyPlan = set(unique_courses_studyPlan.keys()) - set(unique_courses_dict.keys())

# finding key-value pairs with different values for common keys to see if they align
different_values = {
    key: (unique_courses_dict[key], unique_courses_studyPlan[key])
    for key in set(unique_courses_dict.keys()) & set(unique_courses_studyPlan.keys())
    if unique_courses_dict[key] != unique_courses_studyPlan[key]
}
print("Keys with different values:")
for key, values in different_values.items():
    print(f"Key: {key}, Value in unique_courses_dict: {values[0]}, Value in unique_courses_studyPlan: {values[1]}")

print("\nKeys present in unique_courses_dict but not in unique_courses_studyPlan:")
for key in missing_keys_dict:
    print(f"Key: {key}, Value in unique_courses_dict: {unique_courses_dict[key]}")

print("\nKeys present in unique_courses_studyPlan but not in unique_courses_dict:")
for key in missing_keys_studyPlan:
    print(f"Key: {key}, Value in unique_courses_studyPlan: {unique_courses_studyPlan[key]}")

Keys with different values:

Keys present in unique_courses_dict but not in unique_courses_studyPlan:
Key: 31361, Value in unique_courses_dict: Introduction to  Philosophy
Key: 31111, Value in unique_courses_dict: Arabic Language
Key: 31271, Value in unique_courses_dict: Environmental Science
Key: 31019, Value in unique_courses_dict: Arabic Language(Remedial)
Key: 31373, Value in unique_courses_dict: 21st Century Skills
Key: 31121, Value in unique_courses_dict: English Language
Key: 31029, Value in unique_courses_dict: English Language (Remedial)
Key: 31255, Value in unique_courses_dict: Entrepreneurship for Business
Key: 31161, Value in unique_courses_dict: Introduction to Library Science

Keys present in unique_courses_studyPlan but not in unique_courses_dict:
Key: 13432, Value in unique_courses_studyPlan: Software Project Management
Key: 31211, Value in unique_courses_studyPlan: Arabic Literature
Key: 14468, Value in unique_courses_studyPlan: Security and Privacy of Big data
Key: 31100, Value in unique_courses_studyPlan: Sports and Health

In [115]:
# removing courses from study plan as no studetns have ever enrolled in them 

courses_to_remove = [13432, 31211, 14468, 31100]

study_plan = study_plan[~study_plan['COURSE_ID'].isin(courses_to_remove)]

In [116]:
#unifying english language where in new plan it is called arabic/english language communication skills
df.loc[df['COURSE_ID'] == 31112, 'COURSE_ID'] = 31111
df.loc[df['COURSE_ID'] == 31111, 'COURSE_EDESC'] = 'Arabic Language'
#in the study plan
study_plan.loc[study_plan['COURSE_ID'] == 31112, 'COURSE_ID'] = 31111
study_plan.loc[study_plan['COURSE_ID'] == 31111, 'COURSE_DESCE'] = 'Arabic Language'


#for english language
df.loc[df['COURSE_ID'] == 31122, 'COURSE_ID'] = 31121
df.loc[df['COURSE_ID'] == 31121, 'COURSE_EDESC'] = 'English Language'

study_plan.loc[study_plan['COURSE_ID'] == 31122, 'COURSE_ID'] = 31121
study_plan.loc[study_plan['COURSE_ID'] == 31121, 'COURSE_DESCE'] = 'English Language'



study_plan.loc[study_plan['COURSE_ID'] == 31374, 'COURSE_ID'] = 31373
study_plan.loc[study_plan['COURSE_ID'] == 31373, 'COURSE_DESCE'] = '21st Century Skills'

df.loc[df['COURSE_ID'] == 31374, 'COURSE_ID'] = 31373
df.loc[df['COURSE_ID'] == 31373, 'COURSE_EDESC'] = '21st Century Skills'

study_plan.loc[study_plan['COURSE_ID'] == 31362, 'COURSE_ID'] = 31361
study_plan.loc[study_plan['COURSE_ID'] == 31361, 'COURSE_DESCE'] = 'Introduction to  Philosophy'

df.loc[df['COURSE_ID'] == 31362, 'COURSE_ID'] = 31361
df.loc[df['COURSE_ID'] == 31361, 'COURSE_EDESC'] = 'Introduction to  Philosophy'

study_plan.loc[study_plan['COURSE_ID'] == 31272, 'COURSE_ID'] = 31271
study_plan.loc[study_plan['COURSE_ID'] == 31271, 'COURSE_DESCE'] = 'Environmental Science'

df.loc[df['COURSE_ID'] == 31272, 'COURSE_ID'] = 31271
df.loc[df['COURSE_ID'] == 31271, 'COURSE_EDESC'] = 'Environmental Science'

study_plan.loc[study_plan['COURSE_ID'] == 31254, 'COURSE_ID'] = 31255
study_plan.loc[study_plan['COURSE_ID'] == 31255, 'COURSE_DESCE'] = 'Entrepreneurship for Business'

df.loc[df['COURSE_ID'] == 31254, 'COURSE_ID'] = 31255
df.loc[df['COURSE_ID'] == 31255, 'COURSE_EDESC'] = 'Entrepreneurship for Business'

In [118]:
# Save df to CSV
df.to_csv("df_cleaned.csv", index=False)

In [ ]:

# Save study_plan to CSV
study_plan.to_csv("study_plan_cleaned.csv", index=False)

In [ ]:
# Save high_school_df to CSV
high_school_df.to_csv("high_school_df_cleaned.csv", index=False)